eck-operator:
    nameOverride: "elastic-operator"
    fullnameOverride: "elastic-operator"
    managedNamespaces: [
        "elastic-system",
        "elastic-service",
        "student1",
        "student2",
        "student3",
        "student4",
        "student5",
        "student6",
        "student7",
        "student8",
        "student9",
        "student10",
        "student11",
        "student12",
    ]
    installCRDs: true

    replicaCount: 2

    image:
        # repository is the container image prefixed by the registry name.
        repository: docker.elastic.co/eck/eck-operator
        # pullPolicy is the container image pull policy.
        pullPolicy: IfNotPresent
        # tag is the container image tag. If not defined, defaults to chart appVersion.
        tag: 2.9.0

    podDisruptionBudget:
        enabled: true
        minAvailable: 1
